body {
  padding-top: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  color: #FFFFFF;
  background-image: url("sparkle.gif");
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

input, button {
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
}

#outputText {
  padding: 6vmin;
}
